// @import 'color.module.scss';

.header {
    background-color: #301C39;
    height: 80px;

    a {
        display: inline-block;
        width: 93.51px;
        height: 80px;
        margin-left: 20px;
    }
}